@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-font: 'Hanken Grotesk', sans-serif;

  --light-red-color: hsl(0, 100%, 67%);
  --orange-yellow-color: hsl(39, 100%, 56%);
  --green-teal-color: hsl(166, 100%, 37%);
  --cobalt-blue-color: hsl(234, 85%, 45%);

  --slate-blue-bg-color: hsl(252, 100%, 67%);
  --royal-blue-bg-color: hsl(241, 81%, 54%);

  --violet-blue-circ-color: hsla(256, 72%, 46%, 1);
  --persian-blue-circ-color: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--primary-font);
}

.average__wrapper {
  color: var(--white);
  background: linear-gradient(180deg, var(--slate-blue-bg-color) 0%, var(--royal-blue-bg-color) 100%);
  text-align: center;
  border-radius: 0 0 35px 35px;
}

.average__wrapper h1 {
  color: var(--light-lavender);
  font-size: 18px;
  font-weight: 700;
  padding-block: 1rem;
}

.average__wrapper p {
  color: var(--light-lavender);
}

.average__wrapper-circle {
  width: 140px;
  height: 140px;
  aspect-ratio: 1/1;
  margin: 1rem auto;

  background: linear-gradient(180deg, var(--violet-blue-circ-color) 0%, var(--persian-blue-circ-color) 100%);
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.average__wrapper-circle > span {
  font-size: 3.5rem;
  font-weight: 800;
}

.average__wrapper-circle > p {
  font-weight: 700;
}

.average__wrapper-message > h2 {
  margin-bottom: 1rem;
}

.average__wrapper-message > p {
  font-weight: 500;
  padding-inline: 2.5rem;
  padding-bottom: 2.5rem;
}

.data__wrapper > * {
  margin: 0rem 1rem;
}

.data__wrapper {
  padding: 1.5rem 1rem;
  display: flex;
    justify-content: center;
    flex-direction: column;
}

.data__wrapper h3 {
  color: var(--dark-gray-blue);
}

.data__wrapper-result__item {
  /* background: var(--pale-blue); */
  margin-block: 1.25rem;
  padding: 1rem;

  display: flex;
  justify-content: space-between;

  border-radius: 10px;
}

.data__wrapper-result__item div {
  display: flex;
  gap: 1rem;
}

.data__wrapper-result__item p {
  font-size: 17px;
  font-weight: 500;
}

.data__wrapper-result__item > p {
  color: hsla(224, 30%, 27%, 0.75);
}

.data__wrapper-result__item > p span {
  color: var(--dark-gray-blue);
  font-weight: 700;
}

.data__wrapper-result__item:nth-child(1) {
  color: var(--light-red-color);
  background: hsla(0, 100%, 67%, 0.05);
}

.data__wrapper-result__item:nth-child(2) {
  color: var(--orange-yellow-color);
  background:  hsla(39, 100%, 56%, 0.05);;
}

.data__wrapper-result__item:nth-child(3) {
  color: var(--green-teal-color);
  background: hsla(166, 100%, 37%, 0.05);
}

.data__wrapper-result__item:nth-child(4) {
  color: var(--cobalt-blue-color);
  background: hsla(234, 85%, 45%, 0.05);;
}

.data__wrapper button {
  color: var(--white);
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-weight: 500;
  background: var(--dark-gray-blue);
  padding: .7rem 2rem;
  border-radius: 50px;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.data__wrapper button:hover {
  background: linear-gradient(180deg, var(--slate-blue-bg-color) 0%, var(--royal-blue-bg-color) 100%);
}

@media screen and (min-width: 768px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    display: flex;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 10px 15px 15px -3px rgba(0,0,0,0.1);
  }

  .container > * {
    flex: 1;
  }

  .average__wrapper {
    padding-top: 2rem;
    border-radius: 0 35px 35px 0;
    display: flex;

    flex-direction: column;
    gap: 2rem;
    /* justify-content: space-between; */
  }

  .average__wrapper h1 {
    padding: 0;
  }

  .average__wrapper-circle {
    margin-block: 0rem;
    width: 170px;
    height: 170px;
    aspect-ratio: 1/1;
  }

  .average__wrapper-message {
    margin-top: 1rem;
  }

  .average__wrapper-message > p {
    padding-bottom: 0;
  }
}
